*{
    margin: 0;
    padding: 0;
}
.navbar{
    height: 70px;
    width: 100vw;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nicepage{
    position: absolute;
    left: 1%;
    top: 2%;
}
.logo{
    padding:15px ;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}
.logo :hover{
    background-color:#b5d6f2 ;
}
.p1{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./pexelsphoto1927507.jpeg);
    
}
.s1{
    width: 80vw;
    height: 70vh;
    margin: 30px;
    font-weight: 900;
    background-repeat: no-repeat;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#h3{
    font-size: 6rem;
}
#h1{
    margin-top:400px;
    font-size: 10rem;
}
.p2{
    height: 514px;
    width:100vw;
    background-color: #7da2a9;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    gap: 1px;

}
.text1{
    width: 560px;
    height: 350px;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    padding:5px;
}
.text2{
    width: 560px;
    height: 350px;

}
.text1 h2{
    width: 512px;
    height: 80px;
    display: flex;
    justify-content: end;
    margin: 20px;
    color: white;

}
.text1 h3{
    width: 512px;
    height: 80px;
    display: flex;
    justify-content: end;
    margin: 40px;
}
.text2 p{
    display: flex;
    font-size:large;
    height: 143px;
    width: 520px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}
.p3{
    width: 100vw;
    height: 90vh;
}
.block-1{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 200px;
    width: 100vw;
    
}
.block-1 h2{
    line-height: 1.6;
    font-size: 2.5rem;
    margin: 20px 20px 0px;
} 
.block-2{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    margin-left:95px;
    margin-right: 95px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.block-1 p{
    margin: 20px;
}
.block {
    background-color: white;
    border: 1px solid #000;
    height: 286px;
    border: none;
}
.block h3{
    height:28.8px;

}
.block p{
    height: 76.78;
}
.block-2 .logo2{
    height: 50px;
    width: 50px;
}
.block-2 img{
    height: 50px;
    width: 50px;
    background-color:lightblue;
}
.block-2 h4{
    width: 326.66px;
    height:28.8px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 0 0;
    font-family: 'Open Sans', sans-serif;

}
.block-2 p{
    margin: 20px 0 30px;    
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4vw;
}
.p4{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #18181e;
    
}
.section2{
    width: 80vw;
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

 .p4 img{
    width: 560px;
    height: 500px;
}
.image1{
    width: 560px;
    height: 500px; 
}
.text3{
    padding-left: 20px;
    padding-right: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.text3 h2{
    text-transform: uppercase;
    font-weight: 700;
    margin: 35px 0 0;
    font-family: sans-serif;
    font-size: 1.8rem;
}
.text3 p{
    font-family: sans-serif;
    margin:20px 0 35px;
    font-size: 1vw;
}
.text3 a{
    background-image: none;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    width: 138.33px;
    height: 45.59px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    background-color: #7da2a9;
    flex-flow: column;

}
.p5{
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-flow:column;
    align-items: center;
}
.section3-1{
    height: 25vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.section3-1 p{
    margin:20px;
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
}
.section3-1 h2{
    margin: 20px 20px 0px;
    font-size: 1.875rem;
    line-height: 1.1;
}
.section3-2{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(2,1fr);
    height: 160vh;
    width: 70vw;
}
.section3-2 image{
    height: 150vh;
}
.p6{
    height: 37vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7da2a9;
    color: #ffffff;
}
.countdiv{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
    
.fbox{
    height: 25vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.fbox h2{
    margin: 25px 30px 0px;
    font: 30px sans-serif;
}
.fbox p{
    margin: 20px 30px 25px;
    font: 20px sans-serif; 
    text-transform: uppercase;  
}
.p7{
    height: 50vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.photo{
    background-size: cover;
}
.photo1{
    background-image: url("IMG-20240813-WA0008.jpg");
}
.photo2{
    background-image: url("IMG-20240813-WA0010.jpg");
}
.photo3{
    background-image: url("IMG-20240813-WA0009.jpg");
}
.p8{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.t1{
    height: 70vh;
    width: 50vw;
    background-color: #7da2a9;
    display: flex;
    align-items:start;
    justify-content: center;
    flex-flow: column;
    padding-left: 90px;
}
.inputbox{
    height: 70vh;
    width: 50vw;
    background-color: #18181e;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.p8 h2{
    font: 30px sans-serif;
    color: #ffffff;
    margin: 43px 20px 0px 0px;
    font-weight: 700;
}
.p8 p{
    margin: 20px 70px 0px 0px;
    font:18px sans-serif;
    color: #ffffff;
}
.ic{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.inputbox input{
    height: 10%;
    width:55%;
    margin: 20px 0px 0px 0px;
    background-color: transparent;
    border: 2px solid white;
}
.inputbox a{
    text-decoration: none;
    height: 100%;
    width: 32%;
    border: 2px solid #8aaab1;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 20px sans-serif;
    color: #18181e;
    background-color: #7da2a9;
}
.inbox{
    height:50vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
#textarea{
    height: 22%;
    text-align: start;

}
#btn{
    height: 10%;
    width: 55%;
    margin: 20px 0px 0px 0px;
    display: flex;
    align-items:center;
    
}
.footer{
    width: 100vw;
    height: 12vh;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    gap: 5px;
}
#btn a:hover{
    color: #f2f2f2;
    background-color: #7da2a9;
}
.footer a:hover{
    color: #3b3a3a;
    text-decoration: none;
    background-color: #3b3a3a;
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    body {
      
    }
  }