*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height:7vh;
    width: 100vw;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
}
.nicepage{
    position: absolute;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    left: 1%;
    top: 8%;
    height: 5vh;
    width: 15vw;
}
.nicepage img{
    height: 4.5vh;
    width: 7vw;
}
.logos{
    height: 5vh;
    width: 12.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    height: 3vh;
    width:2vw;
    gap:1%;
}
.logo :hover{
    background-color:#b5d6f2 ;
}
.p1{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./pexelsphoto1927507.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.s1{
    width: 84.5vw;
    height: 65vh;
    margin: 30px;
    margin-right: 200px;
    padding-top:2vh ;
    font-weight: 900;
    background-repeat: no-repeat;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#h3{
    height: 10vh;
    width: 84.5vw;
    font-size: 8vh;
}
#h1{
    margin-top:30vh;
    font-size:20vh;
    height: 21vh;
    font-family: sans-serif;
    width: 84.5vw;
}
.p2{
    height: 50vh;
    width:100vw;
    background-color: #7da2a9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p2-1{
    height: 70%;
    width: 80%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 5%;
}
.text1{
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* align-items: end; */
    text-align: end;

    padding:5px;
}
.text2{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.text1 h2{
    color: white;
    font-size: 2.2vw;
    font-family: sans-serif;
}
.text1 h3{
    font-family: sans-serif;
    font-size: 2vw;
}
.text2 p{
    font-size: 70px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    line-height:1.5;
}
.p3{
    width: 100vw;
    height: 90vh;
}
.block-1{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 30%;
    width: 100%;
    margin-top: 90px;
    
}
.block-1 h2{
    line-height:1.6;
    font-size: 2vw;
    font-family: sans-serif;
    margin: 20px 20px 0px;
} 
.p3-in-box{
    height: 100%;
    width: 70%;
    margin: 0px auto;
}
.block-2{
    display: grid;
    height: 65%;
    grid-template-columns:repeat(3,1fr);
    gap:5%;
    margin: 40px auto;
}
.block-1 p{
    margin: 20px;
    font-size: 1vw;
    line-height:1.5 ;
    text-align: center;
    font-family: sans-serif;
}
.block {
    display: flex;
    justify-content: center;
    flex-flow: column;
    background-color: white;
    border: 1px solid #000;
    border: none;
}
.block-2 h4{
    text-transform: uppercase;
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 3;
    font-family: 'Open Sans', sans-serif;

}    
.block-2 p{
    margin: 20px 0 30px;    
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
}
.logo2 svg{
    height: 5vh;
}

.p4{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #18181e;
    
}
.section2{
    width: 70vw;
    height: 60vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

 .p4 img{
    width: 35vw;
    height: 52vh; 
}
.image1{
    width:35vw;
    height:52vh;
    margin-right: 70px; 
}
.text3{
    margin-left: 60px;
    margin-right: 20px;
    width:55vw;
    height:45vh; 
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.text3 h2{
    text-transform: uppercase;
    font-weight: 700;
    margin: 35px 0 0;
    font-family: sans-serif;
    font-size: 2vw;
}
.text3 p{
    font-family: sans-serif;
    margin-top:70px;
    margin-bottom: 100px;
    font-size: 1vw;
    line-height: 1.3;
}
.text3 a{
    background-image: none;
    font-family: sans-serif;
    font-size: 1.8vh;
    text-decoration: none;
    margin-top: 70px;
    width: 9vw;
    height: 5vh;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    background-color: #7da2a9;
    flex-flow: column;

}
.p5{
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-flow:column;
    align-items: center;
}
.section3-1{
    font-family: sans-serif;
    height: 25vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.section3-1 p{
    margin:20px;
    font-size: 1.1vw;
    line-height: 1.7;
    font-weight:50;
    text-align: center;
}
.section3-1 h2{
    margin: 20px 20px 0px;
    font-size: 2vw;
    line-height: 2;
}
.section3-2{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(2,1fr);
    height: 160vh;
    width: 70vw;
}
.section3-2 image{
    height: 150vh;
}
.p6{
    height: 37vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7da2a9;
    color: #ffffff;
}
.countdiv{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
    
.fbox{
    height: 25vh;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.fbox h2{
    margin: 25px 30px 0px;
    font-family: sans-serif;
    font-size: 2vw;
}
.fbox p{
    margin: 20px 30px 25px;
    font: 20px sans-serif; 
    text-transform: uppercase;  
}
.p7{
    height: 50vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.photo{
    background-size: cover;
}
.pic1{
    background-size: cover;

    background-image: url("IMG-20240813-WA0008.jpg");
}
.pic2{
    background-size: cover;

    background-image: url("./IMG-20240813-WA0010.jpg");
}
.pic3{
    background-size: cover;
    background-image: url("./IMG-20240813-WA0009.jpg");
}
.p8{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.t1{
    height: 70vh;
    width: 50vw;
    background-color: #7da2a9;
    display: flex;
    align-items:start;
    justify-content: center;
    flex-flow: column;
    padding-left: 90px;
}
.inputbox{
    height: 70vh;
    width: 50vw;
    background-color: #18181e;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.p8 h2{ 
    color: #ffffff;
    margin: 43px 20px 0px 0px;
    font-weight: 700;
}
.p8 p{
    margin: 20px 70px 0px 0px;
    color: #ffffff;
}
.ic{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    gap: 10%;
}
.icon{
    height: 3vh;
    width: 3vw;
}
.inputbox input{
    height: 10%;
    width:55%;
    margin: 20px 0px 0px 0px;
    background-color: transparent;
    border: 2px solid white;
    font-size: 1.5vh;
}
.inputbox a{
    text-decoration: none;
    height: 100%;
    width: 32%;
    border: 2px solid #8aaab1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  sans-serif;
    color: #18181e;
    font-size: 1.5vh;
    background-color: #7da2a9;
}
.t1-1{
    height:50vh;
    width:90%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-flow: column;

    font-size:2vh;
}
.inbox{
    height:50vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
#textarea{
    height: 22%;
    text-align: start;

}
#btn{
    height: 10%;
    width: 55%;
    margin: 20px 0px 0px 0px;
    display: flex;
    align-items:center;
    
}
.footer{
    width: 100vw;
    height: 12vh;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    gap: 5px;
    font-size: 50px;
}
#btn a:hover{
    color: #f2f2f2;
    background-color: #7da2a9;
}
.footer a:hover{
    color: #3b3a3a;
    text-decoration: none;
    background-color: #3b3a3a;
}
